*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
}

div button i{
    font-size: 5rem;
}

#cronometro{
    display: flex;
    width: 230px;
    align-items: center;
    justify-content: space-between;
}

#cronometro div{ 
    font-family: "Orbitron", sans-serif;
    font-size: 2.5rem;
    display: flex;

}

#displayMin, #displaySeg, #displayMil{
    width: 50%;
    text-align: center;
}

.player1 button, .player2 button{
    height: 100%;
    width: 100%;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxRadio{
    width: 200px;
    display: flex;
    gap: 8px;
}

#boxRadio label{
    width: 180px;
    display: flex;
    justify-content: center;
    text-transform: lowercase;
    color: aliceblue;
}

#boxTimer{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(6, 80, 49, 0.89);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.boxTime{
    display: flex;
    width: 120px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.boxTime input{
    width: 50%;
}

.escolherTime{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(3, 116, 22);
}

.escolherTime button{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 20px;
    border-style: none;
    text-transform: capitalize;  
    background-color: rgb(237, 240, 240);
    color: rgb(8, 78, 6);
    font-weight: 600;
    transition: all .2s;
    cursor: pointer;
}

.escolherTime button:hover{
    background-color: rgb(103, 192, 192);
    color: aliceblue;
}

.escolherTime input{
    padding: 10px;
    text-align: center;  
    border-radius: 10px;
    border-style: none;
}

.escolherTime label:nth-child(1){
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.escolherTime label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(6, 19, 11);
}


#iniciar1, #iniciar2{
    background-color: rgb(65, 243, 65);
}

#parar1, #parar2{
    background-color: rgb(211, 55, 55);
}

.player1, .player2{
    height: 50vh;
    border: solid 0.5px #000000;
}

#display{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px;
    height: 120px;
    width: 90%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    font-size: 3rem;
    box-shadow: 2px 2px 5px #000a06;
    gap: 10px;
}

#display button{
    position: absolute;
    top: 10px;
    left: 10px;
    border-style: none;
}

#display button i{
    font-size: 1.8rem;
}

#detalhes{
    position: absolute;
    top: 2px;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

#detalhes p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/* TELA DE FIM DE TEMPO */
#endTime-screen{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: #c21e1e;
    z-index: 2;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#endTime-screen p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2rem;
   color: aliceblue;
}

#endTime-screen button{
   font-size: 2rem;
   border-radius: 50px;
   height: 100px;
   width: 100px;
   border-style: none;
   background-color: rgb(3, 116, 22);
   border: none;
   color: white;
   text-transform: capitalize;
   margin-top: 20px;
}